# Mac file layout
.DS_Store

# Tarballs
*.tar
*.tar.gz

# Objects
*.o
*.lo

# Libraries
*.a

# Executables
*.exe

# Core dumps
core

# Vim swap files
*.swp

# Ignores for the Automake/Autoconf stuff
*.log
*.guess
*.cache
*.status
*.pub
*.deps
*.trs
.dirstamp
aclocal.m4
configure
config.h*
*Makefile.in
*Makefile
build-aux/
stamp-h1

# Sublime text items
*.sublime-*

# Doxygen files
docs/

# Nano backups
*.save