# Mac file layout
.DS_Store

# Objects
*.o
*.lo

# Libraries
*.a

# Executables
*.exe

# Core dumps
core

# Ignores for the Automake/Autoconf stuff
*.log
*.guess
*.cache
*.status
*.pub
*.deps
*.trs
.dirstamp
aclocal.m4
configure
config.h*
*Makefile.in
*Makefile
